<!DOCTYPE html>
<html lang="en">
<head>
  <title>Miners - Add Miner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="static/webapp/favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    .back {
      background-image: url('/static/webapp/background.jpg');
      height: 100%;
    }
  </style>
      
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav hidden-xs">
            <img src="/static/webapp/logo.svg" width="100%">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/">STATUS</a></li>
              <li class="active"><a href="/addminer">ADD MINER</a></li>
              <li><a href="/force_refresh">FORCE REFRESH</a></li>
              <li><a href="/copyright">MISC</a></li>
            </ul><br>
          </div>
          <br>
</head>
<body>

          <div class="col-sm-10">

                <form>
                        
                            <div class="form-group"> <!-- Full Name -->
                                <label for="miner_name_id" class="control-label">Full Name</label>
                                <input type="text" class="form-control" id="miner_name_id" name="miner_name" placeholder="MINER D3 - S69">
                            </div>	
                        
                            <div class="form-group"> <!-- Street 1 -->
                                <label for="ip_id" class="control-label">IP Address</label>
                                <input type="text" class="form-control" id="ip_id" name="ip" placeholder="0.0.0.0">
                            </div>					
                                                    
                            <div class="form-group"> <!-- Street 2 -->
                                <label for="username_id" class="control-label">Username</label>
                                <input type="text" class="form-control" id="username_id" name="username" placeholder="root">
                            </div>	
                        
                            <div class="form-group"> <!-- City-->
                                <label for="passwd_id" class="control-label">Password</label>
                                <input type="password" class="form-control" id="passwd_id" name="passwd" placeholder="******">
                            </div>									
                                                    
                            <div class="form-group"> <!-- Miner Type -->
                                <label for="miner_type" class="control-label">Miner Type</label>
                                <select class="form-control" id="miner_type">
                                    <option value="Antminer D3">Antminer D3</option>
                                </select>					
                            </div>
                            
                            <div class="form-group"> <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary">Add Miner</button>
                            </div>     
                            
                        </form>
                        
          </div>

</body>
</html>
